<?xml version="1.0"?>
<launch>
	<arg name="model" default="$(find my_simulations)/models/urdf/mixed_robot.urdf"/>
	<param name="robot_description" textfile="$(find my_simulations)/models/urdf/mixed_robot.urdf"/>
	<param name="use_gui" value="true"/>
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	
	<arg name="use_rviz" default="true" />
	<arg name="debug" default="false" />
	<arg name="moveit_controller_manager" default="ros_control" />
	<arg name="fake_execution_type" default="interpolate" />
	<arg name="pipeline" default="ompl" doc="Planning pipeline to use with MoveIt"/>
	<arg name="load_robot_description" value="false" />
    
  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find robot_2)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="moveit_controller_manager" value="$(arg moveit_controller_manager)" />
    <arg name="fake_execution_type" value="$(arg fake_execution_type)"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
  </include>	
  
  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find robot_2)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(find robot_2)/launch/moveit.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
</launch>
