<?xml version="1.0" encoding="UTF-8" ?>
<launch>
  <arg name="pipeline" default="ompl" doc="Planning pipeline to use with MoveIt"/>
        <!-- overwriting these args -->
        <!-- Gazebo options -->
	<arg name="gazebo_gui" default="true" doc="Start Gazebo GUI"/>
	<arg name="paused" default="false" doc="Start Gazebo paused"/>
	<arg name="debug" default="false" />
	<arg name="world_name" default="$(find my_simulations)/world/warehouse_world.world"  doc="Gazebo world file"/>
	<arg name="world_pose" default="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0" doc="Pose to spawn the robot at"/>
	<arg name="initial_joint_positions"
	    default="
	    -J joint1 0
	    -J joint2 0
	    -J joint3 0
	    -J joint4 0
	    -J joint5 0
	    -J joint6 0
	    "
	    doc="Initial joint configuration of the robot"/>
    <arg name="use_ekf" default="false"/>
    <arg name="use_sim_time" value="false" />
    <arg name="use_clock_frequency" default="false"/>
    <arg name="pub_clock_frequency" default="100"/>

        <!-- Start Gazebo paused to allow the controllers to pickup the initial pose-->
	<include file="$(find gazebo_ros)/launch/empty_world.launch" pass_all_args="true">
		<arg name="paused" value="true"/>
                <arg name="world_name" value="worlds/empty_world.world" />
                <arg name="debug" value="$(arg debug)" />
                <arg name="gui" value="$(arg gazebo_gui)" />
                <arg name="paused" value="$(arg paused)" />
                <arg name="use_sim_time" value="$(arg use_sim_time)" />
	</include>

	        <!-- Start Gazebo paused to allow the controllers to pickup the initial pose
	<include file="$(find gazebo_ros)/launch/empty_world.launch" pass_all_args="true">
		<arg name="paused" value="true"/>
                <arg name="world_name" value="worlds/empty_world.world" />
                <arg name="debug" value="$(arg debug)" />
                <arg name="gui" value="$(arg gazebo_gui)" />
                <arg name="paused" value="$(arg paused)" />
                <arg name="use_sim_time" value="$(arg use_sim_time)" />
	</include>
	-->

    <!--            <arg name="gui" value="$(arg gazebo_gui)" />  \gazebo -->
    <!--            <arg name="use_sim_time" value="$(arg use_sim_time)" /> \clock -->

</launch>

