<?xml version="1.0"?>
<launch>

  <arg name="use_rviz" default="true" />
  <arg name="debug" default="false" />
	
  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(dirname)/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(find robot_2)/rvizConfig//moveit.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>


</launch>
